<tr>
  <td><%= image_tag(product.photo_url(:thumb)) if product.photo? %> </td>
  <td>
    <p id="name_product"><%= link_to product.name, store_show_product_path(product) %></p>
    <p><%= link_to product.description, store_show_product_path(product) %></p>
    <p><%= link_to 'Reviews', store_show_product_path(product) %></p>
  </td>
  <td>
    <p id="price"><%= product.price %>$</p>
  </td>
</tr>
