<% provide(:title, @product.name ) %>

<div class="container-fluid"> 
  <div class="row">

    <div class="col-sm-9 col-md-10">

    <div class="container">
      <div class="page-header">
        <h1 id="name_product"><%= @product.name %></h1>
      </div>

      <p><%= image_tag(@product.photo_url) if @product.photo? %></p>
      <ul>
        <li>Description: <%= @product.description %></li>
        <li id="price">Price: <%= @product.price %>$</li>
      </ul>

      <%= link_to 'Back', :back, class: "btn btn-default btn-sm" %>
    </div>
    
  </div>
</div>